body{
    background: url(../images/curr2.jpg);
    background-size: cover;
}
.main{
    height: 100vh;
}
.card-header{
    font-size: 180%;
    letter-spacing: 0.2em;
}
.info{
    font-weight: bold;
}
